* {
  font-family: "Montserrat";
  text-align: center;
}
.body {
  width: 1280px;
}
.header {
  margin-bottom: 48px;
}
.header-navigation {
  margin: 29.5px 0px;
}
.header-navigation-list {
  padding-left: 0px;
}
.header-navigation-list-item {
  list-style: none;
  display: inline-block;
  margin-right: 36px;
  margin-left: 35px;
}
.header-navigation-list-link {
  color: #ff0000;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
}
.main {
  margin-bottom: 82px;
}
.main-heading {
  color: #373737;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  margin-bottom: 38px;
}
.main-paragraph {
  color: #373737;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  margin: 0px 67.5px 28px;
}
.main-button {
  background-color: #ff0000;
  width: 191px;
  height: 51px;
  border-radius: 4px;
  border-style: none;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-top: 38px;
  color: #ffffff;
}
.footer-paragraph {
  width: 464px;
  margin-left: 713px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
.footer-paragraph-hidden {
  visibility: hidden;
  margin: 0px 0px 0px 105.5px;
  position: absolute;
  top: 1517px;
  width: 382px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #373737;
}
